<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2048</title>

  <link rel="stylesheet" type="text/css" href="/assets/2048/main.css"/>

  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="meta/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <meta name="baidu-tc-cerfication" content="e1128bb01fafff38d769e7cfabe50a5d" />
  <style type="text/css">
    body{
        height: 800px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="heading">
    <span class="game-explanation" style="display: inline-block; margin-top: 30px">
      <a id="invite_friends" href="javascript:void(0)">邀请小伙伴们来一起挑战！</a>
      <span><%= @qq_user.to_s unless @qq_user.blank? %></span>
    </span>

    <div class="scores-container">
      <div class="score-container">0</div>
      <div class="best-container">0</div>
    </div>
  </div>

  <div class="game-container">
    <div class="game-message">
      <p></p>
      <hr style="clear: both">
      <div class="lower">
        <a class="retry-button">再来一次！</a>

        <a id="share-button" onclick="qq_share();">炫耀一下！</a>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
    </div>

    <div class="tile-container">

    </div>
  </div>

  <p class="game-explanation">
    <strong class="important">玩法:</strong> 按上下左右方向键来控制方格移动，相同的方格可以合并。
  </p>
  <hr style="margin-bottom: 0">

  <div class="footer">
    声明：此应用由 <a href="http://www.wanhuir.com" target="_blank">上海疏微网络技术公司</a> 提供，若在游戏过程中遇到问题，可以联系QQ：2218408443 <a target=blank href=tencent://message/?uin=2218408443&Site=玩会儿&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:2218408443:1 alt="QQ联系"></a>
  </div>
</div>

<script type="text/javascript" charset="utf-8" src="http://fusion.qq.com/fusion_loader?appid=1101255082&platform=<%= @pf %>"></script>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script type="text/javascript" src="http://1251008728.cdn.myqcloud.com/1251008728/2048/animframe_polyfill.js"></script>
<script type="text/javascript" src="http://1251008728.cdn.myqcloud.com/1251008728/2048/keyboard_input_manager.js"></script>
<script type="text/javascript" src="http://1251008728.cdn.myqcloud.com/1251008728/2048/qqzone/html_actuator.js"></script>
<script type="text/javascript" src="http://1251008728.cdn.myqcloud.com/1251008728/2048/grid.js"></script>
<script type="text/javascript" src="http://1251008728.cdn.myqcloud.com/1251008728/2048/tile.js"></script>
<script type="text/javascript" src="http://1251008728.cdn.myqcloud.com/1251008728/2048/local_score_manager.js"></script>
<script type="text/javascript" src="http://1251008728.cdn.myqcloud.com/1251008728/2048/game_manager.js"></script>
<script type="text/javascript" src="http://1251008728.cdn.myqcloud.com/1251008728/2048/application.js"></script>

<script type="text/javascript">
  $(function(){

      if(navigator.userAgent.indexOf("MSIE")>0 || navigator.userAgent.indexOf("Windows NT")>0) {
          alert("为了更好的游戏体验，请使用谷歌或者火狐浏览器！");
      }

      $("#invite_friends").click(function(){
          fusion2.dialog.invite
          ({
              receiver : "",
              msg  : "你的好友邀请你来一起玩~",
              img : "",
              source : "",
              context : "invite",
              onSuccess : function (opt) {  alert("邀请成功"); },
              onCancel : function (opt) { alert("邀请取消"); },
              onClose : function (opt) {  alert("邀请关闭"); }
          });
      });

  })

  var qq_share = function(){

      var score;
      score = document.getElementById("share-button").getAttributeNode("data-score").nodeValue;

      console.log(score);

      fusion2.dialog.sendStory
      ({
          title :"玩会儿，挑战2048，根本停不下来",

          img:"http://i.gtimg.cn/open/app_icon/01/25/50/82//1101255082_100.png",

          summary :"2014年度最新、最火爆的休闲小游戏，根本停不下来，全球几亿人都在玩。",

          msg:"我的分数："+score+" 分，你敢来挑战吗？",

          button :"向好友们炫耀一下！",

          source :"ref=story&act=default",

          context:"send-story-12345"
      });
  };

</script>
<script type="text/javascript">
    $(function(){
        console.log("----");
        $(".left-sidebar ul li").click(function(){
            $.ajax({
                type: "get",
                url: "/qq?material_id=62",
                success: function(data){
                    $(".game-container").html(data);
                }
            })
        });
    })
</script>
</body>
</html>
