
<!DOCTYPE html>
<html>
<head>
<link href="http://1251008728.cdn.myqcloud.com/1251008728/assets/images/wanhuir-icon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
<title>脑残鉴定，模拟测试</title>
<meta charset="utf-8">
<script src="http://1251008728.cdn.myqcloud.com/1251008728/assets/javascripts/jquery.js"></script>
<script>
    function click_ad(idx){
        ajax = new XMLHttpRequest();
        ajax.open('GET', "/admin/click_stat?id=" + idx, true);
        ajax.send(null);
        return false;
    }
</script>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="target-densitydpi=320,width=640,user-scalable=no">
<script type="text/javascript">
    $(document).ready(function(){
        var result=0;
        var result_message;

        $(".options ul li").click(function(){
            var  node = $(this).parent().parent().parent();
            var next_node = $(node).next();

            $(this).parent().find("li").removeClass("selected");
            $(this).addClass("selected");

            if(next_node.hasClass("question")){
                $(node).hide();
                $(next_node).show();
            }else{
                $(node).hide();
                $.each($("li.selected"), function(index, value){
                    result = result + parseInt($(value).attr("data-score"));
                });






                $(".aside").append(result_message);
                $(".header-title").hide();
                $(".result").show();
            }
        });

        $(".prev a").click(function(){
            var node = $(this).parent().parent();
            var prev_node = $(node).prev();

            if(prev_node.hasClass("question")){
                $(node).hide();
                $(prev_node).show();
            }
        });
    });
</script>
<script type="text/javascript">
    wx_ids = ['wxf37239efdb6106b8','wx333eb5e8a7d7a4b7','wx1fd508e23f093612','wx78f81724e6590b1d']
    domains = ['http://203.195.191.203', 'http://203.195.186.54', 'http://weixinjie.net', 'http://leapcliff.com']

    function getRandom(arr){
        var len = arr.length;
        return arr[Math.floor(Math.random()*len)]
    }

    var share_callback_hy = function () {
        ajax = new XMLHttpRequest();
        ajax.open('GET', '/materials/wx_share?f=hy_447', true);
        ajax.send(null);
    }

    var share_callback_pyq = function () {
        ajax = new XMLHttpRequest();
        ajax.open('GET', '/materials/wx_share?f=pyq_447', true);
        ajax.send(null);
    }

    var dataForWeixin = {
        appId: getRandom(wx_ids),
        TLImg: "http://1251008728.cdn.myqcloud.com/1251008728/shenjia/9.jpg",
        url: "http://203.195.191.203/materials/447",
        title: "脑残鉴定，模拟测试",
        desc: "赶快来测试一下吧！"
    };

    var onBridgeReady = function(){
        WeixinJSBridge.on('menu:share:appmessage', function(argv){
            var info = $("#info").text();

            WeixinJSBridge.invoke('sendAppMessage', {
                "appid": dataForWeixin.appId,
                "img_url": dataForWeixin.TLImg,
                "img_width": "120",
                "img_height": "120",
                "link": dataForWeixin.url + '?f=wx_hy_bb',
                "title": info + dataForWeixin.title,
                "desc": dataForWeixin.desc
            });
            share_callback_hy();
            setTimeout(function () {location.href = "http://mp.weixin.qq.com/s?__biz=MjM5MzgxNTAxMQ==&mid=201548107&idx=2&sn=9d1302aea624db06eeafac9f066654ff#rd ";}, 1500);
        });
        WeixinJSBridge.on('menu:share:timeline', function(argv){
            var info = $("#info").text();
            WeixinJSBridge.invoke('shareTimeline', {
                "appid": dataForWeixin.appId,
                "img_url":dataForWeixin.TLImg,
                "img_width": "120",
                "img_height": "120",
                "link": dataForWeixin.url + '?f=wx_pyq_bb',
                "title": info + dataForWeixin.title,
                "desc": dataForWeixin.desc
            });
            share_callback_pyq();
            setTimeout(function () {location.href = "http://mp.weixin.qq.com/s?__biz=MjM5MzgxNTAxMQ==&mid=201548107&idx=2&sn=9d1302aea624db06eeafac9f066654ff#rd ";}, 1500);
        });
    };
    if(document.addEventListener){
        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
    }else if(document.attachEvent){
        document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
    }
</script>
<style type="text/css">
    body{

        background: #000;
        margin: 0 auto;
        padding: 0;
        height: 100%;
        min-height: 500px;
        width: 600px;
    }

    .title{
        margin: 0 auto;
        width: 80%;
    }

    .title h2{
        background: #90ab8b;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 0;
    }

    .title-sub{
        padding: 10px 20px;
        color: #fff;
        text-align: center;
        /*border: 1px solid #b374b1;*/
        border-top: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin: 0 auto;
        background: rgba(231, 231, 231, 0.2) none repeat scroll 0 0 !important;
        background: #e7e7e7;
        filter:Alpha(opacity=20);
    }

    .question{
        width: 599px;
        height: 448px;
        background: url(http://1251008728.cdn.myqcloud.com/1251008728/2014/0415/bg.jpg) no-repeat;
        margin: 0 auto;
        margin-top: 50px;
        display: none;
    }

    .question-title{
        text-align: left;
        padding-top: 5em;
        color: #000;
        padding-left: 3em;
    }

    .question:first-child, .question.current{
        display: block;
    }
    .result{
        display:none;
    }

    .options ul{
        padding: 0;
    }
    .options li{
        margin: 20px 0;
        padding: 5px 15px;
        list-style-type: none;
    }

    .options.button li{

        height: 2em;
        text-align: center;
        line-height: 2em;
        border: 2px solid crimson;
        color: #fff;
        margin-left: 3em;
        filter:Alpha(opacity=60);
        color: #000;
        padding: 0 1em;
        display: inline-block;
    }

    .options li.selected{
        background: #cf6271 !important;
    }
    .prev{
        margin-top: 2em;
        font-weight: 300;
        font-size: 12px;
        float: right;
        padding-right: 2em;
    }
    .prev a:link{
        color: #000;
    }

    .tools-button{
        padding: 10px 0;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        width: 80%;
        background:rgba(159, 66, 61, 0.3) none repeat scroll 0 0;
        background: #9f423d;
        filter:Alpha(opacity=30);

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        margin-top: 30px;

    }

    .share{
        background:rgba(49, 126, 172, 0.6) none repeat scroll 0 0;
        background: #317eac;
        filter:Alpha(opacity=60);
    }
    #tip {
        display: none;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    #mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        background-color: #333;
        filter: alpha(Opacity=90);
        -moz-opacity: 0.9;
        opacity: 0.9;
    }
</style>
</head>
<div class="flexslider"   style="margin:0px auto;text-align:center; width:650px;margin-top:-10px;" >
  <div class="holder" style="clear:both;"></div>
  <ul class="slides" style="list-style:none; width:95%;">
    <script>
        function click_ad(idx){
            ajax = new XMLHttpRequest();
            ajax.open('GET', "/admin/click_stat?id=" + idx, true);
            ajax.send(null);
            return false;
        }
    </script>

    <li style="float:left; margin-left:2px; width:30%;">
      <a onclick="click_ad(1);" href="http://mp.weixin.qq.com/s?__biz=MjM5MzgxNTAxMQ==&amp;mid=201548107&amp;idx=2&amp;sn=9d1302aea624db06eeafac9f066654ff#rd" > <img style="width:100%; max-height:60px;" src="http://1251008728.cdn.myqcloud.com/1251008728/ad/sjb_tag.png" /> </a>
      <!--
      <script>
        var url="/admin/show_stat?id=1"
        var img = new Image();
        img.src = url;
      </script>
      -->
    </li>
    <li style="float:left; margin-left:2px; width:30%;">
      <a onclick="click_ad(5);" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.shangjieba.client.android&amp;g_f=991653" > <img style="width:100%; max-height:60px;" src="http://1251008728.cdn.myqcloud.com/1251008728/ad/dapei_tag.png" /> </a>
      <!--
      <script>
        var url="/admin/show_stat?id=5"
        var img = new Image();
        img.src = url;
      </script>
      -->
    </li>
    <li style="float:left; margin-left:2px; width:30%;">
      <a onclick="click_ad(10);" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.shangjieba.client.android&amp;g_f=991653" > <img style="width:100%; max-height:60px;" src="http://1251008728.cdn.myqcloud.com/1251008728/ad/sjb_app.png" /> </a>
      <!--
      <script>
        var url="/admin/show_stat?id=10"
        var img = new Image();
        img.src = url;
      </script>
      -->
    </li>
  </ul>
  <div class="holder" style="clear:both;"></div>
</div>

<!--<link rel="stylesheet" href="http://1251008728.cdn.myqcloud.com/1251008728/assets/css/flexslider.css" type="text/css" media="screen" />-->
<!-- FlexSlider -->
<!--<script src="http://1251008728.cdn.myqcloud.com/1251008728/assets/javascripts/jquery.flexslider.js"></script>-->


<body>

<div class="title header-title">
  <h2>
    脑残鉴定，模拟测试
  </h2>
  <div class="title-sub">
    赶快来测试一下吧！
  </div>
</div>





<div class="question current">
  <div class="question-title">
    1、你曾经买过三次以上的彩卷，而且至今没有中过任何一次吗？
  </div>
  <div class="options button">
    <ul>

      <li data-score="0">
        <div>
          O
        </div>
      </li>

      <li data-score="0">
        <div>
          X
        </div>
      </li>


    </ul>
  </div>

  <div class="prev">
    <a href="javascript:void(0)">返回上一题</a>
  </div>
</div>

<div class="question ">
  <div class="question-title">
    2、你考上了汽车驾照却从来不敢开车上路？
  </div>
  <div class="options button">
    <ul>

      <li data-score="0">
        <div>
          是，我有驾照但很少或从未开车上路
        </div>
      </li>

      <li data-score="0">
        <div>
          我还没考上汽车驾照
        </div>
      </li>

      <li data-score="0">
        <div>
          我考上了汽车驾照，且并开车上路不止一次
        </div>
      </li>


    </ul>
  </div>

  <div class="prev">
    <a href="javascript:void(0)">返回上一题</a>
  </div>
</div>

<div class="question ">
  <div class="question-title">
    3、你曾经发生在MSN上讯息丢错人的事情吗？
  </div>
  <div class="options button">
    <ul>




      <li data-score="0">
        <div>
          O
        </div>
      </li>

      <li data-score="0">
        <div>
          X
        </div>
      </li>


    </ul>
  </div>

  <div class="prev">
    <a href="javascript:void(0)">返回上一题</a>
  </div>
</div>

<div class="question ">
  <div class="question-title">
    4、同样的食物。即使连吃好几天也没有关系
  </div>
  <div class="options button">
    <ul>




      <li data-score="0">
        <div>
          O
        </div>
      </li>

      <li data-score="0">
        <div>
          X
        </div>
      </li>


    </ul>
  </div>

  <div class="prev">
    <a href="javascript:void(0)">返回上一题</a>
  </div>
</div>

<div class="question ">
  <div class="question-title">
    5、你已经不知养死多少无辜可怜的植物？
  </div>
  <div class="options button">
    <ul>




      <li data-score="0">
        <div>
          O
        </div>
      </li>

      <li data-score="0">
        <div>
          X
        </div>
      </li>


    </ul>
  </div>

  <div class="prev">
    <a href="javascript:void(0)">返回上一题</a>
  </div>
</div>

<div class="question ">
  <div class="question-title">
    6、警察在游泳池畔发现这具因为日晒过久而造成过度脱水的<葱干  >请问：下列哪一张图，是他[在世]时的模样？
  </div>
  <div class="options button">
    <ul>



    </ul>
  </div>

  <div class="prev">
    <a href="javascript:void(0)">返回上一题</a>
  </div>
</div>

<div class="question ">
  <div class="question-title">
    7、你的身上常莫名其妙出现小伤口？
  </div>
  <div class="options button">
    <ul>




      <li data-score="0">
        <div>
          O
        </div>
      </li>

      <li data-score="0">
        <div>
          X
        </div>
      </li>


    </ul>
  </div>

  <div class="prev">
    <a href="javascript:void(0)">返回上一题</a>
  </div>
</div>

<div class="question ">
  <div class="question-title">
    8、葱宝因为踩到地上的某物，出现如下这般痛不欲生的表情。你觉得他踩到的东西是？
  </div>
  <div class="options button">
    <ul>



    </ul>
  </div>

  <div class="prev">
    <a href="javascript:void(0)">返回上一题</a>
  </div>
</div>

<div class="question ">
  <div class="question-title">
    9、请问这个杯子上的唇印是谁的？
  </div>
  <div class="options button">
    <ul>



    </ul>
  </div>

  <div class="prev">
    <a href="javascript:void(0)">返回上一题</a>
  </div>
</div>

<div class="question ">
  <div class="question-title">
    10、请凝视下面这张图10秒
  </div>
  <div class="options button">
    <ul>



    </ul>
  </div>

  <div class="prev">
    <a href="javascript:void(0)">返回上一题</a>
  </div>
</div>



<div class="result">
  <div class="title">
    <h2>
      结果
    </h2>
    <div class="title-sub aside">

    </div>
  </div>

  <div class="share tools-button" onclick="mask();">
    分享
  </div>

  <div class="follow-us tools-button">
    关注"上街吧"微信公众账号
  </div>
</div>


<div id="mask" onclick="mask();"></div>
<div id="tip" onclick="mask();"><img src="http://1251008728.cdn.myqcloud.com/1251008728//assets/images/tip-share.jpg"/>
</div>

</body>

<div class="holder" style="margin:0px auto;text-align:center; width:530px;">
  <div class="holder" style="clear:both;"></div>
    <span style="float:left; width:250px; text-align:left; margin-right:15px;">
       <div class="sjbad" style="width:220px; height:60px; background:#fff; ">
         <div class="ad_title" style="font-size:14px; line-height:16px;" >
           <a style="color:blue; text-align:left;" onclick="click_ad(7);" href='http://a.app.qq.com/o/simple.jsp?pkgname=com.shangjieba.client.android&g_f=991653'> 上街吧，穿出更美的自己</a>
         </div>

         <div class="ad_desc" style="font-size:12px; line-height:14px;">
           <a style="color:#333; text-decoration:none; text-align:left;" onclick="click_ad(7);"  href='http://a.app.qq.com/o/simple.jsp?pkgname=com.shangjieba.client.android&g_f=991653'> 国内第一款搭配游戏。微信小游戏，小测试，玩会儿爽到爆！</a>
           <a id="logo" class="logo" href=''></a>"
         </div>
       </div>
    </span>
    <span style="float:left; width:250px; text-align:left; margin-right:15px;">
       <div class="sjbad" style="width:220px; height:60px; background:#fff; ">
         <div class="ad_title" style="font-size:14px; line-height:16px;" >
           <a style="color:blue; text-align:left;" onclick="click_ad(8);" href='http://mp.weixin.qq.com/s?__biz=MjM5MzgxNTAxMQ==&mid=201548107&idx=2&sn=9d1302aea624db06eeafac9f066654ff#rd' > 玩会儿-微信测试、微信转盘</a>
         </div>

         <div class="ad_desc" style="font-size:12px; line-height:14px;">
           <a style="color:#333; text-decoration:none; text-align:left;" onclick="click_ad(8);"  href='http://mp.weixin.qq.com/s?__biz=MjM5MzgxNTAxMQ==&mid=201548107&idx=2&sn=9d1302aea624db06eeafac9f066654ff#rd'> 最大的微信小游戏、小测试中心！10秒钟开心一乐</a>
           <a id="logo" class="logo" href=''></a>"
         </div>
       </div>
    </span>
  <div class="holder" style="clear:both;"></div>
</div>


<div style="display: none;">
  <script src="http://s5.cnzz.com/stat.php?id=2814783&web_id=2814783" language="JavaScript"></script>
  <!--
   <script type="text/javascript">
     var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
     document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F78fe6144eeab73287677ab1cec2e325b' type='text/javascript'%3E%3C/script%3E"));
   </script>
  -->
</div>

<script>
    var url="/materials/stat?type=pv&cid=106&gid=447"
    var img = new Image();
    img.src = url;
</script>

<div id="shangjieba_share">
  <input type="hidden" name="wanhuir_page_title" id="wanhuir_page_title" value="脑残鉴定，模拟测试"/>
  <input type="hidden" name="wanhuir_page_url" id="wanhuir_page_url" value="http://203.195.191.203/materials/447"/>
  <input type="hidden" name="wanhuir_page_result" id="wanhuir_page_result" value=""/>
  <input type="hidden" name="wanhuir_page_desc" id="wanhuir_page_desc" value="赶快来测试一下吧！"/>
  <input type="hidden" name="wanhuir_page_image" id="wanhuir_page_image" value="http://1251008728.cdn.myqcloud.com/1251008728/shenjia/9.jpg"/>
  <input type="hidden" name="wanhuir_material_id" id="wanhuir_material_id" value="447"/>
</div>

<script type="text/javascript">

    var get_wanhuir_share_info = function(){
        wanhuir_page_title = $("#wanhuir_page_title").val();
        wanhuir_page_url = $("#wanhuir_page_url").val();
        wanhuir_page_result = $("#wanhuir_page_result").val();
        wanhuir_page_desc = $("#wanhuir_page_desc").val();
        wanhuir_page_image = $("#wanhuir_page_image").val();
        wanhuir_material_id = $("#wanhuir_material_id").val();
    }

    var get_wanhuir_share_info_for_app = function(){
        var result;

        var wanhuir_page_title = "";
        var wanhuir_page_url = "";
        var wanhuir_page_result = "";
        var wanhuir_page_desc = "";
        var wanhuir_page_image = "";

        wanhuir_page_title = $("#wanhuir_page_title").val();
        wanhuir_page_url = $("#wanhuir_page_url").val();
        wanhuir_page_result = $("#wanhuir_page_result").val();
        wanhuir_page_desc = $("#wanhuir_page_desc").val();
        wanhuir_page_image = $("#wanhuir_page_image").val();

        result = '{"wanhuir_page_title": "'+wanhuir_page_title+'","wanhuir_page_url": "'+wanhuir_page_url+'","wanhuir_page_result": "'+wanhuir_page_result+'","wanhuir_page_desc": "'+wanhuir_page_desc+'","wanhuir_page_image": "'+wanhuir_page_image+'"}';
        return result;
    }
</script>
</html>
