<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="http://1251008728.cdn.myqcloud.com/1251008728/assets/css/github.css"/>
  <script type="text/javascript" src="http://1251008728.cdn.myqcloud.com/1251008728/assets/javascripts/highlight.pack.js"></script>
  <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
  <title></title>
</head>
<body>


<ul>
  <li>
    <div>
    GET  /api/welcome/banners (活动Banner)
    </div>

    <div>
      <pre>
        <code>
          {"banners":[
            {"id":2,"image_url":"this is a test image url","wait":2},
            {"id":1,"image_url":"this is image url","wait":1}
          ]}
        </code>
      </pre>
    </div>
  </li>

  <li>
    <div>
    GET  /api/welcome/game_types (游戏分类)
    </div>

    <div>
      <pre>
        <code>
          参数
          all=1 所有分类
          无参数 特色分类(带图片 展示在首页的分类)
        </code>
      </pre>
    </div>

    <div>
      <pre>
        <code>
          {"game_types":[
            {"id":1,"game_type":"智商测试","type_image":"3232"},
            {"id":2,"game_type":"轮盘测试","type_image":""},
            {"id":3,"game_type":"情感分析","type_image":""},
            {"id":4,"game_type":"猜谜游戏","type_image":""},
            {"id":5,"game_type":"求签砸蛋","type_image":""},
            {"id":6,"game_type":"姓名图测","type_image":""},
            {"id":7,"game_type":"H5游戏","type_image":""},
            {"id":8,"game_type":"视觉游戏","type_image":""},
            {"id":9,"game_type":"翻牌游戏","type_image":""}
          ]}
        </code>
      </pre>
    </div>
  </li>

  <li>
    <div>
    GET  /api/welcome/index?page=1&per_page=12&order=hot&game_type_id=1 (游戏列表)
    </div>

    <div>
    <pre>
      <code>
        page: 页数
        per_page: 每页多少 可不传 默认12
        order: 排序 hot, recommend
        game_type_id: 分类
        recommend: 推荐游戏 value 1,2,3
      </code>
    </pre>
    </div>

    <div>
      <pre>
        <code>
          {
            "total_page":16,
            "page":1,
            "more_page":15,
            "materials":[
                {"id":368,"title":"测测看你是哪位神仙的转世？","wx_url":"http://203.195.191.203/materials/368","wx_tlimg":"http://1251008728.cdn.myqcloud.com/1251008728/shenxian/8.jpg","hot":2136477},
                {"id":426,"title":"测测看你缺什么?","wx_url":"http://203.195.191.203/materials/426","wx_tlimg":"http://1251008728.cdn.myqcloud.com/1251008728/que/3.jpg","hot":2100045},
                {"id":394,"title":"测测你的神经病程度！","wx_url":"http://203.195.191.203/materials/394","wx_tlimg":"http://1251008728.cdn.myqcloud.com/1251008728/sjb/3.jpg","hot":992045},
                {"id":213,"title":"测测你十年后会变成哪种女人？","wx_url":"http://203.195.191.203/materials/235","wx_tlimg":"http://1251008728.cdn.myqcloud.com/1251008728/shinian/3.jpg","hot":926309},
                {"id":389,"title":"测测看你有什么弱点？","wx_url":"http://203.195.191.203/materials/402","wx_tlimg":"http://1251008728.cdn.myqcloud.com/1251008728/shenxian/7.jpg","hot":692628},
                {"id":399,"title":"测测你是哪种类型的人","wx_url":"http://203.195.191.203/materials/399","wx_tlimg":"http://1251008728.cdn.myqcloud.com/1251008728/neixing/nx3.jpg","hot":570734},
                {"id":256,"title":"2048 明星版，你可以玩到都敏郡吗？","wx_url":"http://203.195.191.203/materials/256","wx_tlimg":"http://1251008728.cdn.myqcloud.com/1251008728/2048/2048.jpg","hot":558275},
                {"id":275,"title":"测测你下半生有哪种幸运的好命？","wx_url":"http://203.195.191.203/materials/282","wx_tlimg":"http://1251008728.cdn.myqcloud.com/1251008728/haoming/hm5.jpg","hot":535371},
                {"id":359,"title":"测测你这辈子会因为什么而发财？","wx_url":"http://203.195.191.203/materials/359","wx_tlimg":"http://1251008728.cdn.myqcloud.com/1251008728/facai/3.jpg","hot":527563},
                {"id":318,"title":"姓名凶吉鉴定","wx_url":"http://203.195.191.203/materials/330","wx_tlimg":"http://1251008728.cdn.myqcloud.com/1251008728/xingming/xm16.jpg","hot":435811},
                {"id":358,"title":"测测你这辈子能赚多少钱","wx_url":"http://203.195.191.203/materials/358","wx_tlimg":"http://1251008728.cdn.myqcloud.com/1251008728/qian/zq18.jpg","hot":334824},
                {"id":392,"title":"你在古代长什么样子呢？ ","wx_url":"http://203.195.191.203/materials/392","wx_tlimg":"http://wxcover.qiniudn.com/gudai.jpg","hot":332034}
            ]
          }
        </code>
      </pre>
    </div>
  </li>

  <li>
    <div>
      GET  /api/feedbacks (WebView 加载 反馈)
    </div>

    <div>
      <pre>
        <code>
          none
        </code>
      </pre>
    </div>
  </li>
</ul>


</body>
</html>