<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @domain.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @domain.active %>
</p>

<p>
  <strong>Tid:</strong>
  <%= @domain.tid %>
</p>

