<p id="notice"><%= notice %></p>

<p>
  <strong>Wxid:</strong>
  <%= @weixin.wxid %>
</p>

<p>
  <strong>Active:</strong>
  <%= @weixin.active %>
</p>

<p>
  <strong>Tid:</strong>
  <%= @weixin.tid %>
</p>
