<div class="flexslider"   style="margin:0px auto;text-align:center; width:95%; margin-top:-10px;" >
  <ul class="slides" style="list-style:none; width:95%;">
    <script>
      function click_ad(idx){
        var url="/admin/click_stat?id=" + idx;
        var img = new Image();
        img.src = url;
        return false;
      }
    </script>
    
    <% @ads = Ad.where(:on => true) %>
    <% @ads.each do |ad|%>
    <li style="float:left; margin-left:2px; width:30%;">
      <a onclick="click_ad(<%= ad.id %>);" href="<%= ad.click %>" > <img style="width:100%;" src="<%= ad.img %>" /> </a>
      <script>
        var url="/admin/show_stat?id=<%= ad.id %>"
        var img = new Image();
        img.src = url;
      </script>
    </li>
    <% end %>
  </ul>
  <div class="holder" style="clear:both;"></div>
</div>

 <!--<link rel="stylesheet" href="http://1251008728.cdn.myqcloud.com/1251008728/assets/css/flexslider.css" type="text/css" media="screen" />-->
  <!-- FlexSlider -->
  <!--<script src="http://1251008728.cdn.myqcloud.com/1251008728/assets/javascripts/jquery.flexslider.js"></script>-->
