<div class="flexslider"   style="margin:0px auto;text-align:center; margin-top:5px;" >
  <ul class="slides" style="list-style:none;">
    <script>
      function click_ad(idx){
        var url="/admin/click_stat?id=" + idx;
        var img = new Image();
        img.src = url;
        return false;
      }
    </script>
    
    <% @ads = Ad.where(:on => true) %>
    <% @ads.each do |ad|%>
    <li style="float:left; margin-left:8px;">
      <a onclick="click_ad(<%= ad.id %>);" href="<%= ad.click %>" > <img height="30" src="<%= ad.img %>" /> </a>
      <script>
        var url="/admin/show_stat?id=<%= ad.id %>"
        var img = new Image();
        img.src = url;
      </script>
    </li>
    <% end %>
  </ul>
</div>

 <!--<link rel="stylesheet" href="http://1251008728.cdn.myqcloud.com/1251008728/assets/css/flexslider.css" type="text/css" media="screen" />-->
  <!-- FlexSlider -->
  <!--<script src="http://1251008728.cdn.myqcloud.com/1251008728/assets/javascripts/jquery.flexslider.js"></script>-->
  <script type="text/javascript">
    $(window).load(function(){
     $('.flexslider').flexslider({
       animation: "slide",
       slideshowSpeed: 6000,
        start: function(slider){
           $('body').removeClass('loading');
         }
       });
    });
</script>
