<div class="flexslider"   style="margin:0px auto; align:center;" >
      <a href="http://51self.com/weitest/1203611402" >
          <img style="width:100%; max-height:60px;" src="http://kaokao.qiniudn.com/head1.png" /> </a>
  <div class="holder" style="clear:both;"></div>
</div>
