<style>
  #profile-header{ position:fixed; top:0; width:100%; z-index:101; max-height: 60px;}
  #profile-header .header-bar{ background:#fff; box-shadow: 0 0 15px rgba(0, 0, 0, .4); height:40px; padding:5px 0; *border-bottom:1px solid #d4d4d4}
  .profile_name {
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    padding-right: 30px;
  }
  .profile_follow {
    margin-left: 50px;
  }
  .profile_follow a {
    color: #fff;
    background: #b50808;
    padding: 3px 15px;
    border-radius: 3px;
    font-size: 16px;
  } 
  .profile_avatar {
    position: absolute;
    left: 0;
    top: 0px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 5px;
  }

  .profile_img {
    max-width: 100%;
    max-height: 60px;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
  }

  .container {
    width: 100%;
  }

  #profile {
   position: relative;
   padding-left: 50px;
  }
</style>


<div id="profile-header">
    <div class="header-bar">
    	<div class="container">
        	<div id="profile" data-id="3281270701">
                <div class="profile_avatar">
                    <a href="http://mp.weixin.qq.com/s?__biz=MjM5NjIzOTE2OQ==&mid=200366500&idx=1&sn=21c2832b5382e6aafd4e55a0d6c85f5f#rd">
                      <img class='profile_img' src="http://p1.pstatp.com/large/815/3549686244">
                    </a>
                </div>
                <div class="profile_info">
                    <span class="profile_name"> 
                    <a href="http://mp.weixin.qq.com/s?__biz=MjM5NjIzOTE2OQ==&mid=200366500&idx=1&sn=21c2832b5382e6aafd4e55a0d6c85f5f#rd">微转盘</a></span>
                    <span class="profile_follow">
                      <a href="http://mp.weixin.qq.com/s?__biz=MjM5NjIzOTE2OQ==&mid=200366500&idx=1&sn=21c2832b5382e6aafd4e55a0d6c85f5f#rd" data-action="like">+ 关注</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
