<div style=" background:#fff;  " align="center" id="bai">
  <div style="display: inline; text-align: center;">
    <% @ads = Ad.where(:on => true).where( :t=> 2 ) %>
    <% @ads.each do |ad| %>
        <%= ad.code.html_safe %>
    <% end %>
  </div>
</div>
<div style="clear:both; ">
</div>
