<div class="flexslider"   style="margin:0px auto;text-align:center; width:650px;margin-top:-10px;" >
  <div style="display: inline;">
    <% @ads = Ad.where(:on => true).where( :t=> 5) %>
    <% @ads.each do |ad| %>
        <%= ad.code.html_safe %>
    <% end %>
  </div>
</div>
<div style="clear:both; ">
</div>
