<div class="clear"></div>

<div style="display: none;">                                                   
   <script src="http://s5.cnzz.com/stat.php?id=2814783&web_id=2814783" language="JavaScript"></script>
   <script type="text/javascript">
     var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
     document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F78fe6144eeab73287677ab1cec2e325b' type='text/javascript'%3E%3C/script%3E"));
   </script>
</div>   

<div class="credits container_15 entry-content-footer"> 
  Shuwei Inc. 2013 All Rights Reserved. 沪ICP备09039856号-2
</div> 
