<div class="clear"></div>  
<div id="accessmobile" class="mobileonfooter">
  <div class="menu-header"> 
    <ul id="menu-test-1" class="menu"> 
      <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-11986"> 
      <%= link_to 'Home', '#' %>
      <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11987"> 
      <%= link_to 'Materials', '#' %>
      </li>
    </ul> 
  </div>			
</div><!--  #accessmobile -->	
