<div id="wrappermenu" class="">
  <div id="access" class="container_15">
    <div class="menu-header"> 
      <ul id="menu-test" class="menu"> 
        <li id="menu-item-11986" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-11986"> 
          <%= link_to 'Home', '/' %>
        </li>
        <li id="menu-item-11987" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11987"> 
          <%= link_to 'Materials', '#' %>
        </li>
      </ul> 
    </div>			
  </div><!--  #access -->	
  <div class="clear"></div>
</div>
