<div id="wrappermenu" class="">
  <div id="access" class="container_15">
    <div class="menu-header"> 
      <ul id="menu-test" class="menu"> 
        <li id="menu-item-11986" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-11986"> 
          <%= link_to '首页', '/' %>
        </li>

        <!--
        <li id="menu-item-11987" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11987" style="float:right;"> 
          <%= link_to '注册', '#' %>
        </li>
        <li id="menu-item-11987" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11987" style="float:right;"> 
          <%= link_to '登陆', '#' %>
        </li>
        -->

      </ul> 
    </div>			
  </div>
  <div class="clear"></div>
</div>
