<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>微信好文章, 不只分享朋友圈</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta name="format-detection" content="telephone=no"><style>
		body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{margin:0;padding:0;}
		ul, li {list-style: none outside none;margin: 0;padding: 0;}
		pre{word-break: break-all;word-wrap: break-word;}
		table{border-collapse:collapse;border-spacing:0;}
		fieldset, img{border:0;}
		address, caption, cite, code, dfn,  th, var{font-style:normal;font-weight:normal;}
		ol, ul{list-style:none;}
		caption, th{text-align:left;}
		h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}
		q:before, q:after{content:'';}
		abbr, acronym{border:0;font-variant:normal;}
		sup{vertical-align:text-top;}
		sub{vertical-align:text-bottom;}
		input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit;}
		input, textarea, select{font-size:100%;}
		legend{color:#000;}
        body{ -webkit-touch-callout: none; -webkit-text-size-adjust: none;margin:0;background:#f8f7f5;color:#222;font-family:Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma, Arial;height:100%;padding:15px 15px 0;position:relative;padding: 0;font-family: '宋体'; background: #fff; }
		.page-bizinfo,.page-content{max-width: 700px; margin: 0 auto;padding: 20px 20px 0;border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;}
		.page-bizinfo{border-bottom: none;}
		.page-bizinfo .header h1{ padding-bottom: 10px; border-bottom: 1px dotted #ccc;}
		.page-bizinfo .header h1{color:#000;font-size:20px;font-weight:bold;white-space:pre-wrap;word-wrap:normal;word-break:normal;}
		.header{font-size:20px;}
		.page-content{padding-bottom:20px;overflow: hidden;padding-top:10px;}
		.page-content img {height: auto !important;max-width: 100% !important;}
		.page-content p{text-indent: 0;margin-bottom:5px;width: 100%;}
		.line_title .tips{background-color:#FFFFFF;}
		0;-webkit-background-size:100%;-moz-background-size:100%;-o-background-size:100%;background-size:100%;}
		.page_sort {display: inline;float: right;padding: 10px;}
		.page_sort .page_link {display: inline;float: right;margin:20px 0 0;}
		.page_sort .page_link li {display: inline;float: left;margin: 0 3px 0 0;}
		.page_sort .page_link li a {text-decoration: none;color: #707070;display: inline-block;font-size: 14px;height: 24px;line-height: 24px;padding-left: 7px;vertical-align: top;}
		
		
		.btn{display:block;width: 86%;text-decoration: none;padding:4px 12px;margin-bottom:0;*margin-left:.3em;font-size:14px;line-height:20px;color:#333;text-align:center;text-shadow:0 1px 1px rgba(255,255,255,0.75);vertical-align:middle;cursor:pointer;background-color:#f5f5f5;*background-color:#e6e6e6;background-image:-moz-linear-gradient(top,#fff,#e6e6e6);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));background-image:-webkit-linear-gradient(top,#fff,#e6e6e6);background-image:-o-linear-gradient(top,#fff,#e6e6e6);background-image:linear-gradient(to bottom,#fff,#e6e6e6);background-repeat:repeat-x;border:1px solid #ccc;*border:0;border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);*zoom:1;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05)}
		.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333;background-color:#e6e6e6;*background-color:#d9d9d9}.btn:active,.btn.active{background-color:#ccc \9}
		.btn:first-child{*margin-left:0}
		.btn:hover,.btn:focus{color:#333;text-decoration:none;background-position:0 -15px;-webkit-transition:background-position .1s linear;-moz-transition:background-position .1s linear;-o-transition:background-position .1s linear;transition:background-position .1s linear}
		.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
		.btn.active,.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05)}
		.btn.disabled,.btn[disabled]{cursor:default;background-image:none;opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
		.btn-large{padding:11px 19px;font-size:17.5px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;margin:0 auto;}
		.btn-large [class^="icon-"],.btn-large [class*=" icon-"]{margin-top:4px}
		.btn-block{display:block;width:100%;padding-right:0;padding-left:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
		.btn-block+.btn-block{margin-top:5px}
		input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{width:100%}
		
    </style>
</head>

<body>
<img width="12px" src="http://2sky.2sky.cn/static/images/ico_loading1984f1.gif" style="position: absolute;top:-1000px;">
<div class="page-bizinfo">
<div class="header">
<h1>微信好文章, 不止分享朋友圈</h1>
</div>
</div>

<div class="page-content">

<% @articles.each do |a| %>
  <p><a class="btn btn-large" href="/weitest/<%= a.url %>"><%= a.wx_title %></a></p>
<% end %>


<% if @next_page > 0  %>
  <div class='page_sort'>
    <ul class='page_link'>
      <a href="?page=<%= @next_page %>">下一页</a>
    </ul>
  </div>
<% end %>

</div>

</body>
