<div id="content" class="container_12 grid_10 push_5">
 <% @materials.each do |material| %>
    <div class="grid_4 alpha1">
      <div class="post-<%= material.id %> post type-post status-publish format-standard hentry category-asides posthome author-admin1310 asides">
        <div class="">
          <%= link_to material do %>
            <%= image_tag material.wx_tlimg, style: "width:640px; heigth:500px;  margin-bottom:-3px;" %>
          <% end %>
        </div>
      </div>
      <div class="home blog paged paged-2 cat-links asides" style=" height:40px; ">
        <%= material.name %>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
  <div>
    <%#= social_share_button_tag("测试", url:"http://www.wanhuir.com/materials/1", image: "http://mashang.qiniudn.com/tc.jpg") %>
  </div>
</div>

<div class="bg">
</div>
