<table class="table table-bordered">  
  <thead>
    <tr class="well">
      <th>名字</th>
      <th width="17%">创建时间</th>
      <th width="10%">操作</th>
    </tr>
  </thead>
  <body>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.name %></td>
        <td><%= u.created_at.to_local %></td>
        <td> 
          <%= link_to '编辑', '#' %> |
          <%= link_to '删除', [:admin,u], method: :delete, class: "delMaterial", 
          remote: true, data: {confirm: "Are you sure?"} %>
      </td>
    </tr>
  <% end %>
</body>
  </table>
