<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2048</title>
  <%= stylesheet_link_tag "2048/main" %>

  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="meta/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no">
</head>
<body>
<div class="container">
  <div class="heading">
    <div class="scores-container">
      <div class="score-container">0</div>
      <div class="best-container">0</div>
    </div>
  </div>

  <div class="game-container">
    <div class="game-message">
      <p></p>
      <div class="game-score-tongji">
        <ul>
          <li>最高前10分数</li>
          <% num = 0 %>
          <% @topn.each do |score| %>
              <% num += 1%>
              <% break if  num >10 %>
              <li><%= score %></li>
          <% end %>
        </ul>

        <ul>
          <li>最新分数</li>
          <% num = 0 %>
          <% @recentn.each do |score| %>
              <% num += 1%>
              <% break if  num >10 %>
              <li> &nbsp; &nbsp;<%= score %></li>
          <% end %>
        </ul>
      </div>
      <hr style="clear: both">
      <div class="lower">
        <a class="retry-button">再来一次！</a>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
    </div>

    <div class="tile-container">

    </div>
  </div>

  <p class="game-explanation">
    <strong class="important">How to play:</strong> Use your <strong>arrow keys</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one!</strong>
  </p>
  <hr>
</div>

<%= javascript_include_tag "2048/2048" %>
</body>
</html>
