<!DOCTYPE html>
<html> 
  <head>
    <title>砸金蛋</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <div style="background-color:#999;">
    <p>This color red</p>
  </div>
  <div style="background-color:#999; overflow:auto;">
    <p style="width:3000px; margin: 1 auto 1 auto;">This color red</p>
  </div>
  <div style="background-color:#999;">
    <p>This color red</p>
  </div>
</html>
