<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>商家登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joychao <joy@joychao.cc>">    
  </head>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <link class="bootstrap library" rel="stylesheet" type="text/css" href="http://sandbox.runjs.cn/js/sandbox/bootstrap-2.2.0/css/bootstrap.min.css">
  <script class="bootstrap library" src="http://sandbox.runjs.cn/js/sandbox/jquery/jquery-1.7.2.min.js" type="text/javascript"></script>
  <script class="bootstrap library" src="http://sandbox.runjs.cn/js/sandbox/bootstrap-2.2.0/js/bootstrap.min.js" type="text/javascript"></script>
  </head>

  <body>
    <div class="container">
      <section class="loginBox row-fluid">
          <div class="tabbable" id="tabs-634549">
            <ul class="nav nav-tabs">
              <li>
                <a href="#panel-60560" data-toggle="tab">帐号登录</a>
              </li>
              <li class="active">
                <a href="#panel-549981" data-toggle="tab">二维码登录</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="panel-60560">
              
              </div>
              <div class="tab-pane active" id="panel-549981">
                <DIV><input type="text" name="username" placeholder="用户名"/></DIV>
                <DIV>
                  <input type="text" name="password" placeholder="密码"/>
                </DIV>
                 <DIV class="span6"><label><input type="checkbox" name="rememberme" />下次自动登录</label></DIV>
                  <DIV class="span1"><input type="button" value=" 登录 " class="btn btn-primary" ng-click="send()"></DIV>
              </div>
            </div>
          </div>
        </section><!-- /loginBox -->
    </div> <!-- /container -->
  </body>
</html>
